packages/
build/
*.orig
*.deps

# Windows
x64/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
TestResults/
.metadata/
*.o
*.suo
*.sdf
*.pdb
*.user
*.opensdf
_ReSharper.*/
*resharper.user
ipch/


# OS X
.DS_Store
*.swp
*.lock
profile
*~.nib
DerivedData/
xcuserdata
!xcshareddata
!xcschemes
*.moved-aside
